@model CompanyModel

<h1>Company Management</h1>
<h2>Add new company</h2>

@using(Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(x => x.Name, "Company Name")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Description, "Company Description")
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.CheckBoxFor(x => x.IsVisible, new { @class = "form-check-input" })
        @Html.LabelFor(x => x.IsVisible, new { @class = "form-check-label"})
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add company</button>
    </div>
}
